* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
}

a {
  color: rgb(115, 26, 53);
}

img {
  max-width: 100%;
}

button {
  border: 0;
  border-radius: 0;
}
