.root {
  background: #333;
}

.navigation ul {
  height: 64px;
  line-height: 64px;
  display: flex;
  list-style: none;
}

.navigation li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: #ddd;
    text-decoration: none;
    width: 100%;
    text-align: center;

    &:hover,
    &.activeItem {
      background: #222;
    }
  }
}
