{
  "presets": [["latest", { "modules": false }], "react", "stage-0"],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "test": {
      "presets": ["latest", "react", "stage-0"]
    }
  }
}
