{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "flowtype",
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": [2, { "singleQuote": true }],
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/first": 0,
    "import/no-absolute-path": 0,
    "import/no-named-as-default-member": 0,
    "import/no-named-as-default": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/no-duplicates": 0,
    "no-duplicate-imports": 0,
    "import/prefer-default-export": 0,
    "global-require": 1,
    "react/sort-comp": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 1,
    "react/display-name": 1,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.babel.js"
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true,
    "COMMIT_HASH": true,
    "log": true,
    "expect": true
  }
}
