{
  "parser": "@typescript-eslint/parser",
  "extends": ["react-app", "prettier", "prettier/react"],
  "plugins": ["@typescript-eslint", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "bracketSpacing": true }
    ],
    "import/no-webpack-loader-syntax": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-unused-vars": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.babel.js"
      }
    },
    "react": {
      "version": "16"
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true,
    "COMMIT_HASH": true,
    "log": true
  }
}
