.button {
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  background: rgba(112, 154, 23, 1);
  color: #fff;
  padding: 10px;
  font-weight: 400;
  cursor: pointer;
  display: block;

  &:hover {
    background: rgba(112, 154, 23, 0.9);
  }

  &.block {
    display: block;
    width: 100%;
  }
}
