.button {
  border: 0;
  font-size: 1.3rem;
  background: rgba(112, 154, 23, 1);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: block;
  border-radius: 4px;

  &:hover {
    background: rgba(112, 154, 23, 0.9);
  }

  &.block {
    display: block;
    width: 100%;
  }
}

.link {
  background: transparent;
  color: #eac2c2;
  text-transform: none;

  &:hover {
    background: transparent;
  }
}
