.button {
  border: 0;
  font-size: 1.3rem;
  background: rgba(112, 154, 23, 1);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: block;
  border-radius: 4px;
}

.button:hover {
  background: rgba(112, 154, 23, 0.9);
}

.button.block {
  display: block;
  width: 100%;
}

.link {
  background: transparent;
  color: #a06c6c;
  text-transform: none;
}

.link:hover {
  background: transparent;
}
