<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>React App</title>

    <meta name="application-name" content="<%= htmlWebpackPlugin.options.appName %>">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.appName %>">

    <link href="manifest.json" rel="manifest">
    <link href="humans.txt" rel="author">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
