.root {
  background: #333;
  padding: 0 2rem;
}

.navigation {
  height: 60px;
  line-height: 60px;
}

.navigation li {
  display: inline;

  a {
    padding: 0 20px;
    color: #ddd;
    display: inline-block;
    text-decoration: none;

    &:hover, &.active {
      background: #222;
    }
  }
}
