/* @import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700'); */

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
}

a {
  color: #a06c6c;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  border-radius: 0;
  background: transparent;
}

ul {
  margin: 10px 0 10px 30px;
}

p {
  margin-bottom: 20px;
}

h2 {
  margin: 20px 0 10px;
}

h2 a {
  color: #333;
}

pre,
code {
  font-family: monospace;
}

pre {
  padding: 0 20px;
  overflow-x: auto;
}
