.input {
  font-size: 1.2rem;
  display: flex;
  padding: 16px;
  margin-bottom: 10px;
  border: 0;
  border: 2px solid #ccc;
  background: #fafafa;
  width: 100%;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #333;
}

.label {
  font-weight: 700;
  cursor: pointer;
}
