.input {
  font-size: 1.2rem;
  display: flex;
  padding: 16px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 2px solid #ccc;
  width: 100%;
  border-radius: 4px;

  &:focus {
    outline: none;
    border-color: #333;
  }
}
